<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fast.fonts.net/t/1.css?apiType=css&projectid=566d7c0c-891f-44db-8531-783a4c177bfa' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Kalam:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheet.css">
	<title>YMCA Practice Page</title>
</head>

<body>

	<div class="nav-img"><!--YMCA Logo-->
		<div class="title-area">
			<img src="http://www.naugatuckymca.org/wp-content/uploads/2015/03/Small-Logo2.png">
		</div>
	</div>

	<div class="nav">
		<div class="container">
			<ul class="pull-right">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Programs</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		<h2><a href="#">Naugatuck YMCA</a></h2>
		</div>
	</div>

	<div class="nav-2"><!--Menu Bar 2-->
		<div class="container">
			<ul class="menu2">
				<li><a href="#">Membership</a></li>
				<li><a href="#">Youth Sports</a></li>
				<li><a href="#">Child Care & Camps</a></li>
				<li><a href="#">Health & Fitness</a></li>
				<li><a href="#">Community</a></li>
			</ul>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to the <br> Naugatuck YMCA</h1>
			<p>Be Happy, Be Healthy, Belong!</p>
		</div>
	</div>

	<div class="inside-y">
		<div class="container">
			<h2>Inside and Out: Naugatuck YMCA</h2>
			<p>Take an inside and outside look at classes and staff of the Naugatuck YMCA</p>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="http://www.naugatuckymca.org/wp-content/uploads/2014/07/att_1441291019601109.jpeg">
					</div>
					<div class="thumbnail">
						<img src="http://www.naugatuckymca.org/wp-content/uploads/2014/07/att_14412911564302.jpeg">
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="http://goo.gl/PjGYhT">
					</div>
					<div class="thumbnail">
						<img src="http://goo.gl/5jZtOf">
					</div>
				</div>
				<div id="contact">
					<div class="col-md-4">
						<h3>Contact Our YMCA</h3>
						<p>284 Church Street<br>Naugatuck, CT 06770</p>
						<p>Phone: (203)-729-9622</p>
						<p><a href="mailto: naugatuckymca@yahoo.com">naugatuckymca@yahoo.com</a></p>
						<h3>Hours of Operation</h3>
						<p>Monday-Friday: 5:30pm-9:00pm<br>Saturday: 7:00am-4:00pm<br>Sunday: Closed</p>
						<h4>Quick Links</h4>
						<p><a href="#">Pool Schedule</a><br><a href="#">Fitness Schedule</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="learn-more">
		<div class="container">
			<div class="col-md-4">
				<div id="membership">
					<h3>Membership</h3>
					<p>Members of all ages! Sign up today for your Y experience!</p>
					<p><a href="#">Check out our membership options</a></p>
				</div>
			</div>

			<div class="col-md-4">
				<div id="programs">
					<h3>Programs</h3>
					<p>Over 50 programs offered for everyone from age 6 months!</p>
					<p><a href="#">Look at the programs we have to offer!</a></p>
				</div>
			</div>

			<div class="col-md-4">
				<div id="love">
					<h3>We Love the Y!</h3>
					<p>The YMCA of Naugatuck is a great place for everything!</p>
					<p><a href="#">See what people are saying about our Y!</a></p>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
